body {
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  color: hotpink;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

input {
  margin-bottom: 25px;
}

#dom_ideas {
  display: flex;
  justify-content: space-evenly;
}

#dom_ideas div {
  border: 1px solid black;
  width: 275px;
}
